<body>
  <div class="main">
    <div class="user">
      <% photo = "../#{@user.photo}" %>
      <img src=<%= photo %> alt="photo" class="user_photo">
      <div class="user_name">
        <p class="name"><%= @user.name %></p>
        <p class="post">Number of posts: <%= @user.posts_counter %></p>
      </div>
    </div>
    <div class="bio">
      <h2 class="name_bio">BIO</h2>
      <p class="biography"><%= @user.bio %></p>
    </div>
    
    <% @posts.each do |post| %>
      <div class="posts">
        <h2 class="name_post">Post #<%= post.id %>: <%= post.title %></h2>
        <p class="post_text"><%= post.text %></p>
        <p class="post_author">
          Comments: <%= post.comment_counter %>, Likes: <%= post.like_counter %>
        </p>
      </div>
    <% end %>

    <div class="buttons">
      <%= link_to user_posts_path(@user.id) do %>
        <button>See all posts</button>
      <% end %>
      <%= link_to new_user_post_path(@user) do %>
        <button>Add a new post</button>
      <% end %>
      <%= link_to users_path do %>
        <button>Main Page</button>
      <% end %>
    </div>
  </div>
</body>
</html>
